.section {
	background: rebeccapurple;
}
.hi-slide {
	position: relative;
	width: 68%;
	margin: 0 auto;
}         
.hi-slide .hi-next,
.hi-slide .hi-prev {
    position: absolute;
    top: 50%; 
    width: 40px;
    height: 40px; 
    margin-top: -20px;     
    border-radius: 50px; 
    line-height: 40px;
    text-align: center; 
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.527); 
    color: black;               
    transition: all 0.6s;
    font-size: 20px; 
    font-weight: bold;
}
.hi-slide .hi-next:hover, .hi-slide .hi-prev:hover{
    background-color: #fff;
}
.hi-slide .hi-prev { left: -60px; }
.hi-slide .hi-next { right: -60px; }
.hi-slide ul {
	height: 292px;
}
.hi-slide ul li {
    overflow: hidden; 
    position: absolute;
    left: 377px;
    top: 146px; 
    width: 0; 
    height: 0; 
    margin: 0; 
    padding: 0;
    border: 3px solid #fff;              
    background-color: #333; 
    cursor: pointer; }
.hi-slide ul li img {
    width: 100%;
    height: 100%;
    background-position: center;
}